body {
    width: 100%;
    height: 100%;
    background-color: #2f3238;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    align-items: center;
}
#logo {
    max-width: 20%;
}
nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #969799;
    width: 100%;
}
nav ul {
    display: flex;
    list-style: none;
    align-items:center;
}
nav li {
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}
#photos {
    display: flex;
    align-items:center;
}
#photos img {
    max-width:33.33%;
}